body {
	margin: 0 0;
}
header {
	background-image: url("assets/cfiar_with_foreground.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
img {
	max-width: 200px;
	text-align: center;
}
h1, h2 {
	color: #fff;
	font-family: 'Roboto', sans-serif;
}
h1 {
  text-align: center;
}
p {
	font-family: 'Roboto', sans-serif;
}
footer {
	background-color: #FF7473;
	height: 5vh;
  color: #fff;
  display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-justify-content: flex-end;
   justify-content: flex-end;
}
a {
  text-decoration: none;
  color: #fff;
  /*margin: 0.5em 1em;*/
}
a > p {
	margin: 0.5em 1em;
}
#description {
	margin: 5em 3em;
}
#description-link {
  color: #1B2536;
  text-decoration: underline;
}
#events-panel {
	background-color: #1B2536;
}
#events-title {
	margin: 0;
	padding: 80px 48px;
}