body {
	margin: 0 0;
}
header {
	background-image: url("http://i.imgur.com/IgBZDjW.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 80vh;
}
img {
	max-width: 200px;
	text-align: center;
}
h1 {
	color: #fff;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}